*{
  box-sizing: border-box;
}

p,.keyword{
  font-family: 'Cairo', sans-serif;
}

.section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  margin-right: 10px;
  margin-bottom:20px;
  background-color:#eee;
  width: 30%;
}

body{
  max-width: 1000px;
  margin:0px auto;
  font-family: 'Cairo', sans-serif;
}
.title,.date {
  width: 100%;
  margin:0;
  padding-left: 10px;
  padding-right:10px;
}

.thumbnail {
  width: 100%;
  margin:0;
}

img {
  width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

div.examples{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 420px) {
  .section{
    flex-direction: column;
  }

  .container{
    width:100%;
  }
}
