p,.keyword{
  font-family: 'Cairo', sans-serif;
}

.container {
  margin: 10px;
  padding:10px;
  background-color:#eee;
  width: 28%;
  max-width: 333px;
  display: inline-block;
  float:left;
  height:450px;
}

body{
  max-width: 1000px;
  margin:0px auto;
  font-family: 'Cairo', sans-serif;
}
.title {
  width: 100%;
  /* display: inline-block; */
}

.thumbnail {
  width: 100%;
  /* display: inline-block; */
}

img {
  width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
